main {
  margin-inline: auto;
}

/*************** Index_Hero *********************/

.index_hero {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  text-align: center;
  padding-inline: 1.5rem;
}

.video_hero {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.index_hero h1 {
  align-self: end;
  padding-bottom: 8rem;
}

.index_hero h2 {
  align-self: start;
  padding-top: 16rem;
}

/*************** Index_Tagline *********************/

.index_tagline {
  margin-top: 50px;
  text-align: center;
}

/*************** Index_Marquee *********************/
.marquee {
  margin-top: 100px;
  margin-bottom: 40px;
  width: 100%;
  overflow: hidden;
}

/*************** Index_Guide *********************/

.guide_section {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 3rem 1rem;
}

.guide_baggrund {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*** Swipe-slideren til mobil-visning ***/
.guide_slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

/*** DESKTOP: 5 bokse i række og Compatibility under som i prototypen ***/
@media (width>800px) /*Jeg laver den her på 900px da den ellers brækker forkert over med overskriften i guide, så den ikke er læsbar*/ {
  .guide_slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    overflow: visible;
  }

  .box_compatibility {
    grid-column: 2 / 5;
    aspect-ratio: auto;
  }
}

.guide_boxes {
  display: grid;
  grid-template-columns: 1fr auto; /***** det betyder at der er to kolonner men den første fylder alt det er er plads til ift. auto's størrelse***/
  align-content: start;
  gap: 0.5rem 1rem;
  padding: 1.25rem;
  flex: 0 0 85%; /***1. tal: siger at box ikke må vokse***/
  min-width: 0;
  scroll-snap-align: center;
}

.guide_boxes h2 {
  grid-column: 1;
  grid-row: 1;
}

.guide_boxes p {
  grid-column: 1 / -1;
  grid-row: 2;
}

.guide_boxes img {
  grid-column: 2;
  grid-row: 1;
  width: clamp(56px, 6vw, 80px);
  height: auto;
}

/*************** Video_Guide *********************/

.video_guide {
  display: block;
  width: 100%;
  max-width: 900px;
  height: auto;
  justify-items: center;
  margin: 0 auto;
}

/*************** Generator_CTA *********************/

.generator_cta {
  margin-top: 100px;
}

/*************** Generator / upload form *********************/

@media (width>800px) {
  .generator_cta {
    width: 500px;
  }
}
