/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Baggrund *********************/

body {
  background-image: url(./imgs/Baggrund\ til\ uploadsite\ 1\ -\ Emnesite.webp);
  background-size: cover;
  background-position: center;
}

/*************** Tekst-fonte *********************/

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.75rem;
  font-weight: 200;
  color: #e5ddb8;
  line-height: 0.85;
}

h2 {
  font-family: Katibeh, serif;
  font-size: 1.3rem;
  color: #e5ddb8;
  line-height: 0.95;
}

.index_tagline h2 {
  font-size: 1.75rem;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  color: #e5ddb8;
  line-height: 0.85;
  white-space: nowrap;
  width: max-content;
  display: block;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #e5ddb8;
}

/*************** Tekst-animationer *********************/

h3 span {
  display: inline-block;
  animation: tekst_ruller_over_skærm 8s linear infinite;
}

@keyframes tekst_ruller_over_skærm {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*************** Guide-box *********************/

.guide_boxes {
  background-color: #982926;
}
