/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Baggrund *********************/

body {
  background-image: url(./imgs/Baggrund\ til\ uploadsite\ 1\ -\ Emnesite.webp);
  background: cover fixed;
  background-position: center;
}

/*************** Header *********************/

.site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.header_logo img {
  display: block;
  height: 2.5rem;
  width: auto;
}

.site_header {
  /*** det er den her kode der ændre farven ved scrolle ***/
  background-color: transparent;
  animation: fra-gennemsigtig-til-farve linear both;
  animation-timeline: scroll();
  animation-range: calc(100svh - 80px) 100svh;
}

@keyframes fra-gennemsigtig-til-farve {
  to {
    background-color: #982926;
  }
}

/*************** Menu-knap *********************/

.header_menu {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #e5ddb8;
  background: #982926;
  border: 1px solid #e5ddb8;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

/*************** Dropdown-menu *********************/

nav {
  display: none;
  position: fixed;
  top: 4.5rem; /*** gør sådan at den røde header og menu hænger sammen ***/
  width: 100%;
  z-index: 100;
  background-color: #982926;
  padding: 1rem 1rem;
  text-align: end;
}

nav.active {
  display: block;
}

nav li {
  margin: 0.5rem 2.3rem 0rem 0rem; /* styrer margin, så tekst flytter sig */
}

/* Udseende på linkene */
nav a {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  color: #e5ddb8;
}

/*************** Tekst-fonte *********************/

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.75rem;
  font-weight: 200;
  color: #e5ddb8;
  line-height: 0.85;
}

h2 {
  font-family: Katibeh, serif;
  font-size: 1.3rem;
  color: #e5ddb8;
  line-height: 1;
}

.index_tagline h2 {
  font-size: 1.75rem;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  color: #e5ddb8;
  white-space: nowrap; /*** sørger for at alt blir på en linje ***/

  display: block;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #e5ddb8;
}

/*************** Tekst-animationer *********************/

h3 span {
  display: inline-block;
  animation: tekst_ruller_over_skærm 8s linear infinite;
}

@keyframes tekst_ruller_over_skærm {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*************** Guide-box *********************/

.guide_boxes {
  background-color: #982926;
  border: 1px solid #681815;
}

/*************** Videoguide-box, ramme *********************/
.video_guide {
  &:hover {
    cursor: pointer;
  }

  @media (width > 700px) {
    border: 1.5px solid #e5ddb8;
  }
}

/*************** Generator CTA-knap *********************/

.generator_cta {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 0 auto 3rem;
  padding: 4.5rem;
  border: 1px solid #e5ddb8;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generator_cta:hover {
  background-color: #e5ddb8;
}

.generator_ikon {
  display: block;
  width: 100%;
  animation: rotation 14s linear infinite;
  transition: filter 0.3s;
}

.generator_cta:hover .generator_ikon {
  filter: brightness(0);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*************** UPLOAD-FORM - Trinindikator *********************/

/** Trin-cirkler **/

.trin h3 {
  width: 80px;
  height: 80px;
  border: 4px solid #33231c;
  border-radius: 50%;
  background-color: #e5ddb8;
  color: #33231c;
  font-style: normal;
  font-size: 2rem;
  line-height: 80px; /* tallet står lodret i midten */
  text-align: center;
}

.trin h2 {
  font-size: 1.2rem;
  text-align: center;
}

/*************** UPLOAD-FORM - selve uploads*********************/

.generator_form {
  border: 2px solid #e5ddb8;
  border-radius: 4px;
}

.upload_form {
  padding: 1rem;

  border-radius: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #e5ddb8;
  text-align: center;
}

.upload_form input::placeholder {
  color: #33231c;
  text-transform: uppercase;
}

.felt_email p {
  margin-top: 0.75rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.save_knap {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: #3f6b4f;
  border: 1px solid #e5ddb8;
  color: #e5ddb8;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
}

.save_knap:hover {
  background-color: #e5ddb8;
  color: #3f6b4f;
}

/*************** Footer Design *********************/

footer h1 {
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  font-weight: 200;
  color: #e5ddb8;
  line-height: 0.85;
  text-align: center;
  margin: 50px 0px 20px;
}

footer h2 {
  font-family: Katibeh, serif;
  font-size: 1.3rem;
  color: #e5ddb8;
  line-height: 1;
  text-align: center;
}
